@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{

    /* Light Color */
    --primary-color: #99A98F;
    --secondary-color: #C1D0B5;
    --third-color: #D6E8DB;
    --fourth-color: #FFF8DE;
    --fifth-color: #F0F0F0; /* Background */

    /* Dark Color */

    /* Base Green Color */
    --first-g-color: #617143;
    --second-g-color: #609966;
    --third-g-color: #03C988;
    --fourth-g-color: #395144;

    /* Text Color */
    --text-color-semi-black: #282A3A; /* Semi Black - Color */
    --text-color-semi-white : #F7F7F7;
}