@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{

    /* Light Color */
    --primary-color: #99A98F;
    --secondary-color: #C1D0B5;
    --third-color: #D6E8DB;
    --fourth-color: #FFF8DE;
    --fifth-color: #F6FBF4; /* Background */

    /* Dark Color */

    /* Text Color */
    --text-color-semi-black: #282A3A; /* Semi Black - Color */
}