.navigation-bar-container {
    width: 100%;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
}

ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: right;
}

ul a:not(:nth-child(1)) {
    margin-left: 2%;
}

ul a {
    text-decoration: none;
    color: var(--text-color-semi-black);
    font-weight: 600;
    letter-spacing: 0.7px;
    border-radius: 6px;
    transition: all 0.3s ease;
    padding: 0.4%;
}

ul a:hover {
    background-color: var(--fourth-g-color);
    color: var(--text-color-semi-white);
}