@import url('1_global.css');
@import url('1_navigaton_bar.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    padding-left: 7%;
    padding-right: 7%;
}

.navigation-bar-container {
    margin-top: 20px;
}

.grid-container {
    display: flex;
    flex-direction: row;
}

.account-details-side {
    flex: 75%;
    padding-left: 1.8%;
    width: 100%;
}

.profile-images-grid{
    
}

#user-photos {
    transition: all 0.3s ease;
}

#user-photos:hover{
    transform: scale(1.03);
}
